<div class="card">
    <div class="card-header text-card-title">
        Custos
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>    
    const data_revenue = JSON.parse(document.getElementById('data-rel').textContent);

    const ctx = document.getElementById('graficG');

    new Chart(ctx, {
      data: {
        datasets: [{% comment %} {
          type: 'line',
          label: 'Receita',
          data: data_revenue.revenue,
        }, {% endcomment %}{
          type: 'line', 
          label: 'Pessoal',
          data: data_revenue.staff_expenses,
        },{
          type: 'line', 
          label: 'Insumos',
          data: data_revenue.input,
        },{
          type: 'line', 
          label: 'Administrativo',
          data: data_revenue.administrative,
        }{% comment %} ,{
          type: 'line', 
          label: 'Imposto',
          data: taxes,
        } {% endcomment %}],
        labels: data_revenue.months,
      },
      {% comment %} options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      } {% endcomment %}
    });
  </script>