<div class="card">
    <div class="card-header text-card-title text-center">Resumo Mês</div>
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Imposto Receita Bruta</div>
                        <span class="text-muted font-monospace text-small">
                            {% if taxes_revenue_percent_cost > 0 %}
                            +{{ taxes_revenue_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% elif taxes_revenue_percent_cost < 0 %}
                            {{ taxes_revenue_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% else %}
                            Custo igual ao mês anterior
                            {% endif %}
                        </span>
                    </div>
                    <span class="text-center p-1 ">R$ {{ taxes_revenue_cost|floatformat:"2g" }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Insumos</div>
                        <span class="text-muted font-monospace text-small">
                            {% if input_percent_cost > 0 %}
                            +{{ input_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% elif input_percent_cost < 0 %}
                            {{ input_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% else %}
                            Custo igual ao mês anterior
                            {% endif %}
                        </span>
                    </div>
                    <span class="text-center p-1 ">R$ {{ input_cost|floatformat:"2g" }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Pessoal</div>
                        <span class="text-muted font-monospace text-small">
                            {% if staff_expenses_percent_cost > 0 %}
                            +{{ staff_expenses_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% elif staff_expenses_percent_cost < 0 %}
                            {{ staff_expenses_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% else %}
                            Custo igual ao mês anterior
                            {% endif %}
                        </span>
                    </div>
                    <span class="text-center p-1 ">R$ {{ staff_expenses_cost|floatformat:"2g" }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Administrativo</div>
                        <span class="text-muted font-monospace text-small">
                            {% if administrative_percent_cost > 0 %}
                            +{{ administrative_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% elif administrative_percent_cost < 0 %}
                            {{ administrative_percent_cost|floatformat:"2g" }}% do mês anterior
                            {% else %}
                            Custo igual ao mês anterior
                            {% endif %}
                        </span>
                    </div>
                    <span class="text-center p-1 ">R$ {{ administrative_cost|floatformat:"2g" }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>