<div class="card">
    <div class="card-header text-card-title">{{ result.type }}</div>
    <div class="card-body">
        <div class="card-text">
            <span class="expense-card-values">R$ {{ result.value|floatformat:"2g"  }}</span>
            <p class="font-monospace text-card-small">
                {% if result.percent > 0 %}
                +{{ result.percent|floatformat:"2g" }}% do mês anterior
                {% elif result.percent < 0 %}
                {{ result.percent|floatformat:"2g" }}% do mês anterior
                {% else %}
                Custo igual ao mês anterior
                {% endif %}
            </p>
        </div>
    </div>
</div>
