<div class="card">
    <div class="card-header text-card-title">
      Receita por Tipo
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficB"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>    
    const ctx_b = document.getElementById('graficB').getContext('2d');
    
    new Chart(ctx_b, {
        type: 'bar',
        data: {
            datasets: [{
                label: 'VENDA DE PRODUTOS',
                data: 
                    [
                        {% for revenue in revenue_list_type %}
                            {% if revenue.type == 'VENDA DE PRODUTOS' %}
                                {{ revenue.total|floatformat:"0" }},
                            {% endif %}
                        {% endfor %}
                    ],
                borderWidth: 1,
                borderColor: 'rgba(0,250,63,0.99)',
                backgroundColor: 'rgba(0,250,63,0.8)',
                },{
                label: 'REVENDA DE PRODUTOS',
                data:
                    [
                        {% for revenue in revenue_list_type %}
                            {% if revenue.type == 'REVENDA DE PRODUTOS' %}
                                {{ revenue.total|floatformat:"0" }},
                            {% endif %}
                        {% endfor %}
                    ],
                borderWidth: 1,
                borderColor: 'rgba(250,86,8,0.99)',
                backgroundColor: 'rgba(250,86,8,0.8)',
                },{
                label: 'VENDA DE SERVICOS',
                data: 
                    [
                        {% for revenue in revenue_list_type %}
                            {% if revenue.type == 'VENDA DE SERVICOS' %}
                                {{ revenue.total|floatformat:"0" }},
                            {% endif %}
                        {% endfor %}
                    ],
                borderWidth: 1,
                borderColor: 'rgba(0,96,122,0.99)',
                backgroundColor: 'rgba(0,96,122,0.8)',
                }],
            labels: 
            [
                {% for month in months %}
                    '{{month}}',
                {% endfor %}
            ],
        }
      });
</script>