<div class="card">
    <div class="card-header text-card-title">
        Custos
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>    
    const input = JSON.parse(document.getElementById('input-data').textContent);
    const staff_expenses = JSON.parse(document.getElementById('staff_expenses-data').textContent);
    const administrative = JSON.parse(document.getElementById('administrative-data').textContent);
    const c_months = JSON.parse(document.getElementById('months-data').textContent);

    const ctx = document.getElementById('graficG');

    new Chart(ctx, {
      data: {
        datasets: [{% comment %} {
          type: 'line',
          label: 'Receita',
          data: revenue,
        }, {% endcomment %}{
          type: 'line', 
          label: 'Pessoal',
          data: staff_expenses,
        },{
          type: 'line', 
          label: 'Insumos',
          data: input,
        },{
          type: 'line', 
          label: 'Administrativo',
          data: administrative,
        }{% comment %} ,{
          type: 'line', 
          label: 'Imposto',
          data: taxes,
        } {% endcomment %}],
        labels: c_months,
      },
      {% comment %} options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      } {% endcomment %}
    });
  </script>