<div class="card">
    <div class="card-header text-card-title">
        Custo ultimos 12 meses
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>
    const ctx = document.getElementById('graficG');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label: 'Custo Total',
          data: [67000, 61000, 63000, 68130, 67000, 67000, 67000, 67000, 67000, 67000, 67000, 67000],
        },{
          type: 'line', 
          label: 'Mão de Obra',
          data: [31000, 35000, 37500, 38230, 40000, 29000, 31000, 30500, 32070, 40000, 41000, 42000,],
        },{
          type: 'line', 
          label: 'Administrativo',
          data: [22000, 23000, 23500, 20900, 27000, 29500, 25300, 24000, 24500, 25300, 27300, 28500,],
        },{
          type: 'line', 
          label: 'Imposto',
          data: [15000, 13000, 12000, 11000, 12000, 14000, 15000, 16000, 13500, 12800, 10900, 11283],
        }],
        labels: ['09/2023','10/2023','11/2023','12/2023','01/2024','02/2024','03/2024', '04/2024', '05/2024', '06/2024', '07/2024', '08/2024'],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>