<div class="card">
    <div class="card-header text-card-title">
        Evolução Gastos
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graphicCr"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>
    const graphicCr = document.getElementById('graphicCr');
  
    new Chart(graphicCr, {
      type: 'line',
      data: {
        datasets: [{
          data: [{x: '2016-12-25', y: 20}, {x: '2016-12-26', y: 10}]
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>