<div class="card">
    <div class="card-header text-card-title">
        Custos
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>    
    const data_revenue = JSON.parse(document.getElementById('data-rel').textContent);

    const ctx = document.getElementById('graficG').getContext('2d');

    new Chart(ctx, {
      type: 'bar',
      data: {
        datasets: [{
          label: 'Pessoal',
          data: 
          [
          {% for expense in expenseWithType %}
            {% if expense.type == 'PESSOAS' %}
            {{ expense.total|floatformat:"0" }},
            {% endif %}
          {% endfor %}
          ],
          borderWidth: 1,
          borderColor: 'rgba(0,250,63,0.99)',
          backgroundColor: 'rgba(0,250,63,0.8)',
        },{
          label: 'Insumos',
          data:
          [
          {% for expense in expenseWithType %}
            {% if expense.type == 'INSUMOS' %}
            {{ expense.total|floatformat:"0" }},
            {% endif %}
          {% endfor %}
          ],
          borderWidth: 1,
          borderColor: 'rgba(250,86,8,0.99)',
          backgroundColor: 'rgba(250,86,8,0.8)',
        },{
          label: 'Administrativo',
          data: 
          [
          {% for expense in expenseWithType %}
            {% if expense.type == 'ADMINISTRATIVO' %}
            {{ expense.total|floatformat:"0" }},
            {% endif %}
          {% endfor %}
          ],
          borderWidth: 1,
          borderColor: 'rgba(0,96,122,0.99)',
          backgroundColor: 'rgba(0,96,122,0.8)',
        },{
          label: 'Outros',
          data: 
          [
          {% for expense in expenseWithType %}
            {% if expense.type == 'OUTROS' %}
            {{ expense.total|floatformat:"0" }},
            {% endif %}
          {% endfor %}
          ],
          borderWidth: 1,
          borderColor: 'rgba(154,0,250,0.99)',
          backgroundColor: 'rgba(154,0,250,0.8)',
        }],
        labels: [
        {% for month in months %}
          '{{month}}',
        {% endfor %}
        ],
      }
    });
  </script>