<div class="card">
    <div class="card-header text-card-title">
      Overview
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficR"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>
    const ctx_r = document.getElementById('graficR').getContext('2d');
    new Chart(ctx_r, {
      type: 'line',
      data: {
        labels: [
        {% for month in revenue_list %}
          '{{month.period}}',
        {% endfor %}
        ],
        datasets: [
        {
          label: 'Receita',
          data: [
            {% for value in revenue_list %}
              {{ value.total|floatformat:"0" }},
            {% endfor %}],
          borderWidth: 1,
          borderColor: 'rgba(61,130,219,0.75)',
          backgroundColor: 'rgba(61,130,219,0.5)',
        }],
      },
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        },
      }
    });
  </script>