<div class="card" style="width: 50%;">
    <div class="card-header text-card-title">
        Gráficos de Gastos: Últimos 6 meses 
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG" height="100%">Your browser does not support the canvas element.</canvas>
            </div>
        </div>    
        <div class="card-footer text-muted">
          Para remover um CR basta clicar na cor correspondente na parte superior do gráfico.
        </div>    
    </div>
</div>
<script>
    const ctx = document.getElementById('graficG');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label: '1000',
          data: [270000, 310000, 190000, 285000, 325000, 450000],
        },{
          type: 'line', 
          label: '1001',
          data: [350000, 250000,350000, 250000,350000, 250000,],
        },{
          type: 'line', 
          label: '1201',
          data: [180000, 200000, 180000, 200000, 180000, 200000],
        },{
          type: 'line', 
          label: '1206',
          data: [185000, 245000, 199800, 240020, 198000, 290500],
        },{
          type: 'line', 
          label: '1206',
          data: [181000, 240000, 189800, 200020, 190000, 290000],
        },{
          type: 'line', 
          label: '1205',
          data: [181000, 240000, 189800, 200020, 190000, 290000],
        },{
          type: 'line', 
          label: '1204',
          data: [181000, 240000, 189800, 200020, 190000, 290000],
        },{
          type: 'line', 
          label: '1203',
          data: [181900, 260000, 289800, 230020, 195000, 270000],
        }],
        labels: ['03/2024', '04/2024', '05/2024', '06/2024', '07/2024', '08/2024'],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>