<div class="card">
    <div class="card-header text-card-title">
        Custo ultimos 12 meses
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficG"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>
    const ctx = document.getElementById('graficG');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label: 'Custo Total',
          data: [67000, 67000, 67000, 67000, 67000, 67000],
        },{
          type: 'line', 
          label: 'Mão de Obra',
          data: [31000, 31501, 32070, 40000, 42950, 42758],
        },{
          type: 'line', 
          label: 'Administrativo',
          data: [25307, 24095, 24578, 25336, 27381, 28599],
        },{
          type: 'line', 
          label: 'Imposto',
          data: [15000, 16000, 13500, 12800, 10900, 11283],
        }],
        labels: ['04/2024', '05/2024', '06/2024', '07/2024', '08/2024', '09/2024'],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>