<div class="card m-auto">
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush text-card-small">
                <li class="list-group-item"><strong>1201 - ADM - TI</strong></li>
                <li class="list-group-item">MART MINAS DISTRIBUICAO LTDA - 04.737.552/0024-24</li>
                <li class="list-group-item"><strong>Conta:</strong> INSUMOS - CARNES</li>
                <li class="list-group-item"><strong>Valor:</strong> R$ 890,12</li>
                <li class="list-group-item"><a href="{% url "invoice" id_entry %}" class="btn btn-sm btn-outline-secondary">Detalhes</a></li>
            </ul>
        </div>        
    </div>
</div>