<div class="card m-auto">
    <div class="card-header">
        <strong>Lançamento:</strong> 0000280884
    </div>
    <div class="card-body">
        <h6 class="card-title">1201 - ADM - TI</h6>
        <div class="card-text">
            <ul class="list-group list-group-flush invoice">
                <li class="list-group-item">MART MINAS DISTRIBUICAO LTDA - 04.737.552/0024-24</li>
                <li class="list-group-item"><strong>Conta:</strong> INSUMOS - CARNES</li>
                <li class="list-group-item"><strong>Valor:</strong> R$ 890,12</li>
                <li class="list-group-item"><a href="{% url "invoice" id_entry %}" class="btn btn-sm btn-outline-secondary">Detalhes</a></li>
            </ul>
        </div>
        
        {% comment %} <p class="card-text">Fornecedor: MART MINAS DISTRIBUICAO LTDA - 04.737.552/0024-24</p>
        <p class="card-text">Conta: INSUMOS - CARNES</p>
        <p class="card-text">Valor: R$ 890,12</p> {% endcomment %}
        
    </div>
</div>