<div class="card m-auto">
    <div class="card-body">
        <div class="card-text">
            <div class="list-group list-group-flush">
                <a href="{% url "billings:invoice" invoice.id_entry %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1"><span class="text-muted">Fornecedor:</span> {{ invoice.name }}</h6>
                        <small>R$ <span class="text-muted">{{ invoice.value|floatformat:"2g" }}</span></small>
                    </div>
                    <p class="mb-1 text-invoices"><strong>Filial:</strong> {{invoice.branch.branch_id}} - {{invoice.branch.name}} <strong>Tipo:</strong> {{invoice.type}}</p>
                    <small class="text-muted">Vencimento: {{ invoice.expiration|date:"d/m/Y" }}</small>
                </a>
            </div>
        </div>        
    </div>
</div>