    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-shadow">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url "billings:index" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                        {% if 'invoices' in request.path %}active{% endif %}
                        " aria-current="page" href="{% url "billings:invoices" %}">Contas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Análise Financeira
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item {% if 'costs' in request.path %}active{% endif %}" href="{% url "billings:costs" %}">Custos</a></li>
                          <li><a class="dropdown-item {% if 'revenue' in request.path %}active{% endif %}" href="{% url "billings:revenue" %}">Receita</a></li>
                          <li><a class="dropdown-item {% if 'dre' in request.path %}active{% endif %}" href="{% url "billings:dre" %}">DRE</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Análise RH
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item {% if 'history' in request.path %}active{% endif %}" href="{% url "billings:history" %}">Historico de Eventos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administração
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="nav-link" target="_blank" aria-current="page" href="{% url "admin:index" %}">Área Administrativa</a></li>
                          <li><a class="dropdown-item {% if 'sincronize' in request.path %}active{% endif %}" href="{% url "billings:sincronize" %}">Sincronização</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if user.is_authenticated %}Bem Vindo, {{ user.first_name }}!{% endif %}
                </span>
            </div>
        </div>
    </nav>