<div class="card m-auto">
    <div class="card-header">
        {{rc.nr_solicitacao}}-{{ rc.branch_destino.code }} 
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="row">
                <div class="col">
                    <p class="card-title">{{ rc.branch_destino.code }} - {{ rc.branch_destino.name }}</p>
                    <p class="card-text">
                        <small>Justificativa: <span class="text-muted text-uppercase">{{ rc.justificativa }}</span></small>
                    </p>
                    <p>Hora da Aprovação: {{ rc.dh_aprovacao|date:"d/m/Y H:i" }}</p>
                    <p>Status: {{ rc.status }}</p>
                    {% if not itens %}
                    <a href="{% url "billings:requisicao" rc.id %}" class="btn btn-sm btn-outline-secondary">VERIFICAR</a>
                    {% endif %}
                </div>
                {% if itens %}
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th class="bg-secondary text-white">ID</th>
                                    <th class="bg-secondary text-white">PRODUTO</th>
                                    <th title="Quantidade" class="bg-secondary text-white">QTD.</th>
                                    <th class="bg-secondary text-white">UND</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in itens %}
                                <tr>
                                    <td>{{item.produto.code}}</td>
                                    <td>{{item.produto.name}}</td>
                                    <td title="Quantidade">{{item.qtd|floatformat:"2g"}}</td>
                                    <td>{{item.produto.unidade}}</td>
                                </tr>                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>        
    </div>
</div>