<div class="card m-auto {% if not detail and rc.inicio_atendimento %}bg-warning{% elif not detail%}bg-danger{% endif %}">
    {% if itens %}
    <div class="card-header">
        <strong>{{ rc.branch_destino.code }} - {{ rc.branch_destino.name }}</strong>
    </div>
    {% endif %}
    <div class="card-body">
        <div class="card-text">
            {% if itens %}
            <div class="list-group-item list-group-item-action">              
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-2">{{rc.nr_solicitacao}} - {{ rc.branch_destino.code }}</h5>
                    <small>{{rc.data_solicitacao|date:"d/m/Y"}}</small>
                </div>
                <p class="mb-2 text-uppercase">
                    {{ rc.justificativa }}
                </p>
                <p class="mb-1"><strong>Aprovada em:</strong> {{ rc.dh_aprovacao|date:"d/m/Y H:i" }}</p>
                <p class="mb-1"><strong>Status:</strong> {{ rc.status }}</p>
                <p class="mb-1"><strong>Solicitante:</strong> {{rc.operador.name}}</p>
                {% if rc.inicio_atendimento %}
                <p class="mb-1"><strong>Início Atendimento:</strong> {{rc.dh_inicio_atendimento|date:"d/m/Y H:i"}}</p>
                <p class="mb-1"><strong>Responsável:</strong> {{rc.operador_atendimento.name}}</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="Fim">
                    <button type="submit" class="btn btn-outline-danger btn-sm">FINALIZAR</button>
                </form>
                {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="Inicio">
                    <button type="submit" class="btn btn-outline-success btn-sm">INICIAR</button>
                </form>
                {% endif %}
            </div>
            {% else %}
            <div class="list-group">
                <a href="{% url "billings:requisicao" rc.id %}" class="list-group-item list-group-item-action text-small">
                
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{rc.nr_solicitacao}} - {{ rc.branch_destino.code }}</h5>
                        <small>{{rc.data_solicitacao|date:"d/m/Y"}}</small>
                    </div>
                    <p class="mb-1">{{ rc.branch_destino.code }} - {{ rc.branch_destino.name }}</p>
                    <p class="mb-1 text-uppercase">
                        {{ rc.justificativa }}
                    </p>
                    <p class="mb-1">APROVADA EM: {{ rc.dh_aprovacao|date:"d/m/Y H:i" }}</p>
                    <p class="mb-1">Status: {{ rc.status }} {% if rc.inicio_atendimento %}- {{ rc.operador_atendimento.user.first_name }}{% endif %}</p> 
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>