<div class="card">
    <div class="card-header text-card-title">
        Imposto
    </div>
    <div class="card-body">
        <div class="card-text">
            <div>
                <canvas id="graficR"></canvas>
            </div>
        </div>        
    </div>
</div>
<script>    
    const revenue_data = JSON.parse(document.getElementById('revenue-data').textContent);

    const ctx_r = document.getElementById('graficR').getContext('2d');

    new Chart(ctx_r, {
      type: 'bar',
      data: {
        labels: revenue_data.months,
        datasets: [
        {% comment %} {
          label: 'Receita',
          data: revenue_data.revenue_list,
          borderColor: '#1DEB7D',
          backgroundColor: '#7EF759',
        }, {% endcomment %}{
          label: 'Imposto Receita',
          data: revenue_data.taxes_revenue,
          borderWidth: 1,
          borderColor: 'rgba(255,16,0,0.75)',
          backgroundColor: 'rgba(255,16,0,0.5)',
        }],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
      }
    });
  </script>