{% extends "global/base.html" %}
{% block title %}Custos | {% endblock title %}
{% block content %}
{% include "partials/menu.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{ data_rel|json_script:'data-rel' }}
{{ revenue_data|json_script:'revenue-data' }}

<div class="container-fluid">
    <div class="row">
        <div class="col-8 mt-2">
            {% include "partials/graphic_costs.html" %}
        </div>
        <div class="mt-2 col-4">
            <div class="mb-2">
                {% include "partials/detail_costs.html" %}
            </div>
            <div class="mb-2">
                <div class="card">
                    <div class="card-header card-title text-card-title">
                        Detalhes
                    </div>
                    <div class="card-body">
                        {% comment %} <a href="{% url "billings:expenses" %}" class="btn btn-dark">Detalhes Despesas</a> {% endcomment %}
                        <a href="{% url "billings:expenses_cr" %}" class="btn btn-outline-secondary">Despesas por CR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}