{% extends "global/base.html" %}
{% block title %}DRE | {% endblock title %}
{% block content %}
{% include "partials/menu.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="m-1 col-8">
            <table class="table table-responsive table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="bg-dark text-white">DRE | UNIDADE</th>
                        <th class="bg-dark text-white">9901</th>
                        <th class="bg-dark text-white">9902</th>
                        <th class="bg-dark text-white">9903</th>
                        <th class="bg-dark text-white">9904</th>
                        <th class="bg-dark text-white">9905</th>
                        <th class="bg-dark text-white">9906</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-secondary text-white">
                            Receita Bruta
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-light text-end">Revenda de Mercadorias</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                    </tr>
                    <tr>
                        <td class="bg-light text-end">Venda de Produtos</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                    </tr>
                    <tr>
                        <td class="bg-light text-end">Vendas de Serviços</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                    </tr>
                    <tr>
                        <td class="bg-light text-end">Locação de Bens</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                    </tr>
                    <tr>
                        <td class="bg-light text-end">Provisões de Receitas</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                        <td class="bg-light">50</td>
                    </tr>
                    <tr>
                        <td class="bg-secondary text-white">
                            Vendas Canceladas
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                        <td class="bg-secondary text-white">
                            150
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}