{% extends "global/base.html" %}
{% block title %}Home | {% endblock title %}
{% block content %}
{% include "partials/menu.html" %}

<div class="container">
    <div class="row"> 
        <div class="col">
            <form class="row row-cols-lg-auto align-items-center mt-2">
                <div class="col-12">
                    <input type="date" value="{{date}}" class="form-control" id="iDate" >
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
            </form>
            <div class="table-responsive mt-1">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center bg-dark text-white" colspan="5">Vencimentos dia: {{ fdata }}</th>
                        </tr>
                        <tr class="">
                            <th scope="col" class="bg-secondary text-white">Nº Lançamento</th>
                            <th scope="col" class="bg-secondary text-white">Centro de Custo</th>
                            <th scope="col" class="bg-secondary text-white">Fornecedor</th>
                            <th scope="col" class="bg-secondary text-white">Tipo</th>
                            <th scope="col" class="bg-secondary text-white">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>0000001943</td>
                            <td>1201 - ADM - TI</td>
                            <td>Ultraloc - 16.560.908/0001-40</td>
                            <td>Locação de Equipamentos</td>
                            <td>R$ 415,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}